<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
</head>

<body>
<section class="hero is-link">
    <div class="hero-head">
        <nav class="navbar" ><div class="container">
            <div class="navbar-brand">
                <span class="navbar-burger" data-target="navbarMenuHeroA">
                    {{#if loggedIn}}
                    <span><a class="navbar-item" href="/">home</a></span>
                    <span><a class="navbar-item button is-link" id="logout">logout</a></span>
                    {{else}}
                    <a class="navbar-item" href="/">home</a>
                    <a class="navbar-item" href="/login">login</a>
                    <a class="navbar-item" href="/signup">sign up</a>
                    {{/if}}
                </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">

                    {{#if loggedIn}}
                    <a class="navbar-item" href="/dashboard">dashboard</a>
                    <a class="navbar-item" href="/">home</a>
                    <a class="navbar-item button is-link" id="logout">logout</a>
                    {{else}}
                    <a class="navbar-item" href="/">home</a>
                    <a class="navbar-item" href="/login">login</a>
                    <a class="navbar-item" href="/signup">sign up</a>
                    {{/if}}
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <h1 class="title" >
            <a href="/">Tech Blog</a>
        </h1>
    </div>
</section>
<div class="wrapper container">
<main>
    {{{ body }}}
</main>
<footer>
    Thanks for visiting!
</footer>
</div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>