
    <form class="login-form control">
        <input class="input p-2 m-2" type="text" id="email-login" placeholder="Email"/>
        <input class="input p-2 m-2" type="password" id="password-login" placeholder="Password"/>
        <button class="button is-link p-2 m-2" type="submit">login</button>
    </form>

<script src="/javascript/login.js"></script>