
<form class="signup-form control">
    <input class="input p-2 m-2" type="text" id="username-signup" placeholder="Username"/>
    <input class="input p-2 m-2" type="text" id="email-signup" placeholder="Email"/>
    <input class="input p-2 m-2" type="password" id="password-signup" placeholder="Password"/>
    <button class="button is-link p-2 m-2" type="submit">sign up</button>
</form>

<script src="/javascript/signup.js"></script>